/* .app{
    margin-top: 35px;
} */
.C1{
    color:white;
    background: linear-gradient(45deg, purple, black);
    /* background-image: url('https://images.pexels.com/photos/4994765/pexels-photo-4994765.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
    background-size: 100%;
    min-width: auto;
    display: flex;
    padding: 5px;
}
  
.C2{
    display: flex;
    color:white;
    /* background-image: url('https://images.pexels.com/photos/1493226/pexels-photo-1493226.jpeg');
    background-size: 100%; */
    /* background: linear-gradient(45deg, rgb(126, 22, 22), rgb(63, 5, 5)); */
    background: black;
    min-width: 33dvw;
    flex-direction: row;
    margin: 10px;
    border: 2px solid #17387b;
    padding: 5px;
    transition: background 1s ease-in-out 0.1s;
}
.C2:hover{
    /* background: linear-gradient(90deg, rgb(116, 86, 86), rgb(255, 255, 255)); This isn't supported for transitioning*/
    background: purple;
    /* transition: background 1s ease-in-out 0.1s; */
}

  
.C3{
    background:linear-gradient( rgb(0, 0, 0), purple, black);
    min-width: 15dvw;
    display: flex;
    flex-direction: column;
    border: #61dafb;
    margin: 5px;
    padding: 10px;
}

.displayContainer{
    min-width: 33dvw;
    min-height: auto;
    display: block;

    background-color: rgb(73, 28, 28);
    margin: 10px;
    border: 2px solid #17387b;
    padding: 5px;
}

.inputbox{
    padding: 10px;
}

.MSDDM{
    margin: 0.5rem 0;

}