
.page{
    height: calc(100vh - 5vh);
    padding: 10px;
}

.gridpage{
    display: grid;
    gap:10px;
    height:50%;
    padding: 10px;
    background-color: blueviolet;
}

.gridpage div{
    background-color: blue;
    min-height:20%;
    min-width: 20%;
}