*{
  /* overflow: hidden; */
  /* margin: 0;
  padding:0; */
  box-sizing: border-box;
}

/* .container {
  overflow-y: scroll;
  scrollbar-width: none;  Firefox 
  -ms-overflow-style: none;   Internet Explorer 10+ 
.codeContainer::-webkit-scrollbar { WebKit
  width: 0;
  height: 0;
} */
.App {
  background-color: #282c34;
  max-width: 100vw;
  min-width: 0;
  min-height: 100%;

  display: grid;
  grid-template-columns: 20% 20% 60%;
  /* grid-template-rows: min-content auto; */
  grid-template-areas:
    "menu menu menu"
    "desc code code"
  ;
}

.codeContainer{
  color: white;
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  grid-area: code;

  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.codesec{
  position: relative; 
  border: 1px solid red; 
}

.overButton{
  position: absolute;
  
  top:0;
  right:0;
  z-index: 3;
}
.overl1{
  /* position: absolute; */
  top:0;
  left:0;
  width:100%;
  height:100%;

  z-index: 1;
  transition: 0.5s ease-in-out;
}
.overl2{
  position: absolute;
  bottom:0;
  right:0;
  width:0%;
  height:0%;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

pre{
  /* position: relative; */
  padding: 2px 5px;
  font-size: 13px;
  
  white-space: -moz-pre-wrap;
  /* white-space: pre-line; */
  white-space: pre-wrap;
  overflow: scroll;
  max-height: auto;
  min-height:1%;
  max-width: auto;
  
  height:80ch;
  transition: height 0.5s, width 0.5s;
  /*v removes the scrollbar from the pre sections v*/
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.html{
  background-color: rgb(45, 43, 41);
  color:white;
}

.css{
  background-color: rgb(60, 58, 56);
  color:white;
}

.iframe{
  background-color: white;
}

pre::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

pre:hover{
  height:80ch;
}

h1{
  padding: 1px;
  margin: 6px 5px -10px 5px;
  /* margin-bottom: -10px; */
}

.codePair{
  max-width: fit-content;
  display: flex;
}

.desc {
  background-color: rgb(57, 64, 64);
  color: white;
  grid-area: desc;

  margin:2px 5px;
  padding: 2px 5px;
}

.head {
  margin: 10px;
  grid-area: menu;
  /* display:inline-block; */
  /* width: 100%; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
  /* background-image: url('https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
}

.head a {
  background-color: rgb(222, 222, 222);
  
  margin: 2px; /*Outside*/
  border: 3px solid #3b3b3b; /*Between*/
  padding: 3px; /*Inside*/
 
  color:rgb(0, 0, 0);
  text-decoration: none;

}

a:hover {
  background-color: aquamarine;
}

/* .codesec{
  height:2%;
  width: 50%;
  transition: height 0.5s, width 0.5s;
}

.codesec:hover{
  width: 100%;
  height:50%;
} */