
.page{
    /*https://www.pexels.com/download/video/9341351 
    https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExd241bjB1ZWpxcWUzZXRwMjYxa3EzZTAzZW81MjAyZTM1N3ZrMHgxeSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/SS8pVIhR4vHU2rANmO/giphy.gif 
     
    https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzJ4Z28xdmJtcHBieWd0OXdsdzBiYjl2djVubGN0NHg2N2V2ZzkxdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cjojgtiigyloyCg3r9/giphy.gif*/
    /* overflow-y: scroll; */
    /* filter: hue-rotate(225deg); */
    /* height: var(--page-height); */
    display: grid;
    /* grid-template-areas:
    "pfp about" "skills"; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-auto-rows: max-content;
    gap: 1rem;
     /*background-image position size repeat color*/
    height: var(--page-height);
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* padding: 30px 50px; */
    padding: 1rem clamp(1rem, 15vw, 15rem );
    font-family: var(--body-font);
    /* background: var(--gradient-bg); */
    /* background: var(--background-image);
    background-color: var(--main-bg); */
    font-size: var(--font-size);
    color: var(--body-text-color);
    
}

/* .section{
    overflow-y: hidden;
} */
/* .section ul{
    backdrop-filter: invert(10%) ;
    
    box-shadow: 0 0 4px 0px;
    margin: 8px;
    padding: 2rem;
} */

.page h1,h2{
    color:var(--accent-one-text-color);
    font-family: var(--title-font);
}

.title{
    
    background-color: oklch(from var(--accent-one) l c h / 0.5);
    backdrop-filter: blur(12px);
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.638);
    padding:15px;
    /* margin: 0 0 3px 0; */
    
    text-align: center;
    
    border-radius: 100vw;
}

.content{
    /* min-height: 90%;
    max-height: 90%; */
    color: var(--body-text-color);
    /* background-color: var(--accent-two); */
    /* box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.638); */
    padding:15px;
    /* border-radius: 5% 5% 5% 5%; */
    line-height: 1.7em;
    overflow-y: scroll;
    /* scrollbar-width: none;
    -ms-overflow-style: none; */
}

.projectCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    /* flex: 1; */
    gap: 1rem;
    padding: 1rem 0;
}

.card{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    background: oklch(from var(--accent-one) l c h / 0.5);
    backdrop-filter: blur(3px);
    /* backdrop-filter: invert(10%); */
    /* box-shadow: 0 0 4px 0px; */
    border-radius: 10px;
    /* border: var(--tertiary-hue) 2px solid; */
    padding: 0.5rem;
    /* max-width: 33%; */
    border: 1px solid var(--accent-two);
    text-wrap: wrap;
    box-shadow: 2px 5px 0.5rem rgba(0, 0, 0, 0.6);

    @media (width < 600px){
        grid-auto-flow: row;
        
    }
}

.imageOverlayWrapper{
    display: grid;
    place-items: center;
    border-radius: 10px; 
    border: 1px var(--accent-two) solid;
    overflow: hidden;
    min-width: 50%;
    /* padding:5px; */
    /* box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.6) ; */
    /* border-image: linear-gradient(rgba(116, 114, 114, 0) , rgba(0, 0, 0, 0.3)) 1 fill; */
}

.imageOverlayWrapper > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.card:hover .projectPreview{
    transform: scale(1.05);
    filter: grayscale(0.2); 
    /* animation-duration: 0.5s; */
} 
.projectPreview{
    /* object-fit: none; */
    
    /* min-width:400px; */
    /* height: 200px; */
    /* mask-image: linear-gradient(oklch(0 0 0 / 1) , oklch(0 0 0 / 0.6)); */
    /* mask-size: 40px;
    mask-position: center; */
    
    /* object-position: center; */
    /* min-width: 50%; */
    filter: grayscale(1);
    object-fit: cover;
    transition: transform 0.8s ease-in-out;
}

/* .cardOverlay{
    z-index: 1;
    background-image: linear-gradient(rgba(195, 195, 195, 0) 80%, rgba(255, 255, 255, 0.084) );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   height: 100%;
} */
.imageOverlayWrapper > h3{
    /* background: oklch(from var(--accent-one) calc(l + 0.1) c h / 0.6);
    border-radius: 100vw; */
    font-family: 'Julius Sans One';
    text-align: center;
    z-index: 3;
}



.about{
    grid-area: about;
    /* text-align: left; */
}

.skills{
    grid-area: skills;
}

.project{
    grid-area: project;
    overflow-y: scroll;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.6);
    padding: 15px;
    color: #333;
    background-color: beige;
    border-radius: 5% 5% 5% 5%;
}

/* p img{
  grid-area: pfp;
  display: grid;
  padding:clamp(0.5rem, 1.5rem, 2rem);
  justify-items: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.638); */
  /* background-color: var(--accent-two); */
  /* background-image: var(--primary-color); */
  /* background-image:linear-gradient(45deg, #54874e, #659B5E); */
  /* border-radius: 5% 5% 5% 5%; */
  /* border: solid 3px rgba(36, 88, 56, 0.863); */
  /* clip-path: polygon(50% 25%, 75% 50%, 50% 75%, 25% 50%); */
/* } */



.landing{
    height: calc((var(--page-height)/2 )- 1rem);
}
.pfp h1{
    font-family: 'Julius sans one';
    font-weight: bold;
    font-size: clamp(1.5rem, calc(1.5rem + 2vw), 2vw);
    color: var(--font);
    /* background-image: linear-gradient(45deg, rgb(29, 45, 42) , rgb(44, 73, 69) ); */
    /* border: 2px solid goldenrod; */
    border-radius: 5px;
    padding:3px;
}

.profileImage{
   
   width: clamp(1rem, 10rem, 15rem);
   aspect-ratio: 1;
   float: left;
   border: var(--tertiary-hue) 1px solid;
   border-radius: 0 50% 50% 0;
   shape-outside: circle(50%);
   margin: 1rem;
   
   /* display: block; */
   /* object-fit: cover; */
   /* justify-self: center; */
   filter: drop-shadow(0 0.125em 0.25em rgba(0, 0, 0, 0.638)); 
   
}


@media screen and (max-width: 600px){
    .page{
    display: grid;
    grid-template-areas:
    "pfp"
    "about"
    "skills" 
    "project";
    grid-auto-columns: 1fr;
    /* overflow-y: scroll; */
    height: var(--page-height);
    gap: 10px;
    padding: 10px;
    }

    .content{
    /* min-height: 90%;
    max-height: 90%; */
    color: var(--font);
    /* background-color: var(--accent-two); */
    /* box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.638); */
    padding:15px;
    border-radius: 5%;
    line-height: 1.7em;
    /* overflow-y: scroll; */
    scrollbar-width: none;
    /* -ms-overflow-style: none; */
    }

    .pfp{
    grid-area: pfp;
    display: grid;
    justify-items: center;
    align-items: center;
    }

    .pfp h3{
    align-self: start;
    padding: 0;
    margin: 0;
    }
    .pfp img{
    border-radius: 50%;
    /* justify-self: center; */
    
    }
}

