
.page{
    /*https://www.pexels.com/download/video/9341351 
    https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExd241bjB1ZWpxcWUzZXRwMjYxa3EzZTAzZW81MjAyZTM1N3ZrMHgxeSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/SS8pVIhR4vHU2rANmO/giphy.gif 
     
    https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYzJ4Z28xdmJtcHBieWd0OXdsdzBiYjl2djVubGN0NHg2N2V2ZzkxdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cjojgtiigyloyCg3r9/giphy.gif*/
    /* overflow-y: scroll; */
    /* filter: hue-rotate(225deg); */
    /* height: var(--page-height); */
    display: grid;
    grid-template-areas:
    "pfp about" "skills";
    /* grid-template-columns: repeat(3, 1fr); */
    grid-auto-rows: max-content;
    gap: 20px;
     /*background-image position size repeat color*/
    height: 100vh;
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* padding: 30px 50px; */
    padding: 1rem clamp(1rem, 15vw, 15rem );
    font-family: var(--body-font);
    /* background: var(--gradient-bg); */
    /* background: var(--background-image);
    background-color: var(--main-bg); */
    
    color: var(--body-text-color);
    
}

/* .section{
    overflow-y: hidden;
} */
.section ul{
    backdrop-filter: invert(10%) ;
    /* border-radius: 100vw; */
    box-shadow: 0 0 4px 0px;
    margin: 8px;
    padding: 2rem;
}

.page h1,h2{
    color:var(--accent-one-text-color);
    font-family: var(--title-font);
}

.title{
    
    background-color: oklch(from var(--accent-one) l c h / 0.5);
    backdrop-filter: blur(12px);
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.638);
    padding:15px;
    /* margin: 0 0 3px 0; */
    
    text-align: center;
    
    border-radius: 100vw;
}

.content{
    /* min-height: 90%;
    max-height: 90%; */
    color: var(--body-text-color);
    /* background-color: var(--accent-two); */
    /* box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.638); */
    padding:15px;
    /* border-radius: 5% 5% 5% 5%; */
    line-height: 1.7em;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.about{
    grid-area: about;
    text-align: left;
}

.skills{
    grid-area: skills;
}

.project{
    grid-area: project;
    overflow-y: scroll;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.638);
    padding: 15px;
    color: #333;
    background-color: beige;
    border-radius: 5% 5% 5% 5%;
}

/* p img{
  grid-area: pfp;
  display: grid;
  padding:clamp(0.5rem, 1.5rem, 2rem);
  justify-items: center; */
  /* align-items: center; */
  /* text-align: center; */
  /* box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.638); */
  /* background-color: var(--accent-two); */
  /* background-image: var(--primary-color); */
  /* background-image:linear-gradient(45deg, #54874e, #659B5E); */
  /* border-radius: 5% 5% 5% 5%; */
  /* border: solid 3px rgba(36, 88, 56, 0.863); */
  /* clip-path: polygon(50% 25%, 75% 50%, 50% 75%, 25% 50%); */
/* } */



.landing{
    height: calc((var(--page-height)/2 )- 1rem);
}
.pfp h1{
    font-family: 'Julius sans one';
    font-weight: bold;
    font-size: clamp(1.5rem, calc(1.5rem + 2vw), 2vw);
    color: var(--font);
    /* background-image: linear-gradient(45deg, rgb(29, 45, 42) , rgb(44, 73, 69) ); */
    /* border: 2px solid goldenrod; */
    border-radius: 5px;
    padding:3px;
}

.profileImage{
   
   height: 15rem;
   width: 15rem;
   float: left;
   border-radius: 50%;
   shape-outside: circle(50%);
   margin: 1rem;
   
   /* display: block; */
   /* object-fit: cover; */
   /* justify-self: center; */
   /* filter: drop-shadow(0 0.125em 0.25em rgba(0, 0, 0, 0.638));  */
   
}


@media screen and (max-width: 600px){
    .page{
    display: grid;
    grid-template-areas:
    "pfp"
    "about"
    "skills" 
    "project";
    grid-auto-columns: 1fr;
    /* overflow-y: scroll; */
    height: var(--page-height);
    gap: 10px;
    padding: 10px;
    }

    .content{
    /* min-height: 90%;
    max-height: 90%; */
    color: var(--font);
    /* background-color: var(--accent-two); */
    /* box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.638); */
    padding:15px;
    border-radius: 5%;
    line-height: 1.7em;
    /* overflow-y: scroll; */
    scrollbar-width: none;
    /* -ms-overflow-style: none; */
    }

    .pfp{
    grid-area: pfp;
    display: grid;
    justify-items: center;
    align-items: center;
    }

    .pfp h3{
    align-self: start;
    padding: 0;
    margin: 0;
    }
    .pfp img{
    border-radius: 50%;
    /* justify-self: center; */
    
    }
}

