
.appointments{
    height: calc(100vh - 5vh);
    display: grid;
    gap: 10px;
    padding:10px;
    grid-template-areas: "form edit display";
    border-image: linear-gradient(blue, red) 30;
}

.appointments button, select{
    width: max-content;
}

.form{
    grid-area: form;
    max-height: 50%;
}

.display{
    max-height: 50%;
    grid-area: display;
}
.selection{
    display: grid;
    grid-area: edit;
    max-height: 50%;
}

/* .editSection select{
height: min-content;
} */
