
.appointments{
    height: calc(100vh - 5vh);
    display: grid;
    gap: 10px;
    padding:10px;
    grid-template-areas: "form edit display";
    border-image: linear-gradient(blue, red) 30;
}

.appointments button, select{
    width: max-content;
}

.form{
    grid-area: form;
    max-height: 50%;
}

.display{
    max-height: 50%;
    grid-area: display;
}
.selection{
    display: grid;
    grid-area: edit;
    max-height: 50%;
}

.loginPage{
    display: grid;
    height: calc(100vh - 5vh);
    /* grid-template-areas: "h1" "form"; */
    /* justify-content: center; */
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    grid-template-columns: 20%;
    gap: 20px;
    
}

.logoutButton{
    max-height: 25px;
}
/* .loginBar{
    align-items: ;
} */
/* .editSection select{
height: min-content;
} */
