
.Square{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    background-color: black;
    width: 45px;
    height: 45px;
  }
  .boardRow{
    width: 135px;
    height: 45px;
  }
  
  .boardholder{
    align-items: center;
    align-self:  center;
    display: flex-end;
    height: 45px;
  }
  .Board{
    width: 45px;
    height: 45px;
  }