
.navpage{
  background-color: #333;
  color: #d4d4d4;
}

nav{
  background-image:linear-gradient(to right,#333, rgb(80, 78, 78));
  min-height:5vh;
  box-shadow: 0px 5px #333;
}

.menu-items{
  display: inline-block;
  position: relative;
}

.menu-items:hover .submenu{
  display: block;
  z-index: 10;
}

.submenu{
  display: none;
  position: absolute;
  z-index: 10;
}

.submenu .tab-link{
  min-width: 165px;
  background-color: rgba(37, 102, 132, 0.5);
  border: none;
  box-shadow:0px 8px 16px 0px #333;
  border: 1px solid #ccc;
}

.tab-link {
  display: inline-block;
  padding: 5px 20px;
  background-color: rgba(37, 102, 132, 1);
  border: 1px solid #ccc; 
  min-height: 5vh;
  max-width: 165px;
  
}
  
.tab-link:hover {
  background-color: rgb(26, 84, 111, 1);
}

.tab-link:active {
  background-color: #007bff; 
}

.Page-Container{
  flex: 1;
  overflow-y: auto;
}