.page{
    height: var(--page-height);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: max-content;
    font-family: var(--body-font);
}

table{
    min-width: 100%;
    /* background-color: var(--secondary-bg); */
}
tr{
    text-wrap: nowrap;
    
}

td,th{
    border: solid 1px rgb(173, 180, 178);
    padding: 5px;
}

th{
    background-color: var(--accent-one);
    color: var(--accent-one-text-color);
}
td {
    background-color: var(--accent-two);
    color: var(--accent-two-text-color);
}

td > input[type=number]{
    max-width: 4ch;
    -webkit-appearance: textfield;
    -moz-appearance:    textfield;
    appearance:         textfield;
}