.page{
    height: var(--page-height);
    
    /* grid-template-columns: repeat(8, 1fr); */
    /* grid-template-rows: max-content; */
    font-family: var(--body-font);
    color: var(--body-text-color);
    place-items: center;
    /* grid-auto-flow: column; */
    padding:1rem clamp(1rem, 15vw, 15rem );
    /* justify-items: center; */
}

table{
    min-width: 100%;
    /* background-color: var(--secondary-bg); */
}
tr{
    text-wrap: nowrap;
    
}

td,th{
    border: solid 1px rgb(173, 180, 178);
    padding: 5px;
}

th, input, input::placeholder{
    background-color: var(--accent-one);
    color: var(--accent-one-text-color);
}
td, button {
    background-color: var(--accent-two);
    color: var(--accent-two-text-color);
}

td > input[type=number]{
    max-width: 4ch;
    -webkit-appearance: textfield;
    -moz-appearance:    textfield;
    appearance:         textfield;
}