
.RWD {
  background-color: rgb(27, 26, 26);
  color:white;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "desc code"
    "foot foot";
  height: calc(100vh - 5vh); /*Had to set the nav at a height fo 32px*/
}

.RWD h1{
  background-color: #3b3b3b;
}

.codeContainer{
  grid-area: code;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-margin: 1rem;
  min-height: 100%;
}
.codesec{
  display: grid;
  scroll-snap-align: start;
  min-height: 100%;
}

/* So overButton will sit on top as long as the z-index is 3 */
.overButton{
  width: fit-content;
  height: fit-content;
  margin: 5px;
  align-self: start;
  justify-self: end;
  z-index: 1;
}

pre{ 
  font-size: 13px;
  white-space: -moz-pre-wrap;
  white-space: pre-line;
  white-space: pre-wrap;
  /* max-height: 82vh; */
  max-height: 76ch;
}

.fillHalf{
  min-width: 50%; /*Gotta find a better way to make sure that it's forced to fill but also share space evenly*/
}

.html{
  background-color: rgb(45, 43, 41);
  min-height: 100%;
}

.css{
  background-color: rgb(60, 58, 56);
  min-height: 100%;
}

.iframe{
  background-color: #ededed;
  overflow-y: scroll;
  width:100%;
  height: 98%;
}

/* .codePair{
  min-height:100vh;
} */

.desc {
  background-color: rgb(57, 64, 64);
  grid-area: desc;
  overflow-y: scroll;
}


.head {
  margin: 10px;
  grid-area: head;
  font-size: calc(10px + 2vmin);
}

.head a {
  background-color: rgb(222, 222, 222);
  margin: 2px; /*Outside*/
  border: 3px solid #3b3b3b; /*Between*/
  padding: 3px; /*Inside*/
  color:rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  background-color: rgb(255, 255, 255);
}

footer{
  grid-area: foot;
  background-image: linear-gradient(to right, rgb(24, 42, 42), rgb(36, 91, 100) );
}