.App {
  text-align: center;
  height: calc(100vh - 5vh);
}

.Appheader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Appbody{
  background-color: rgb(78, 69, 69);
  color: aliceblue;
  text-align: left;
  display:flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.challengeContainer{
  background-color: rgb(128, 47, 0);
  border: 3px solid #6d0000;
  display: block;
  border-radius: 5px;
  padding:5px;
  max-width: 70dvw;
}
.challengeContainer H3{/*This is the question*/
  font-weight: bolder;
}
.challengeContainer p{ /*This is the instructional part*/
  font-family: 'Courier New', Courier, monospace;
}
.challengeContainer span{ /*Answer part*/
  display: block;
}

.App-link {
  color: #61dafb;
}
