.game{
  height: calc(100vh - calc(var(--heading-height) * 2));
  display: flex;
}

.board{
  height: 135px;
  width: 135px;
  display: grid;
}

.square{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  font-size: 10px;
  height: 45px;
  width: 45px;
  padding: 0;
  margin: 0;
  line-height: 45px;
  float: left;
}

footer{
  height: var(--heading-height);
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #7C809B;
  background-image: linear-gradient(to right, rgb(24, 42, 42), rgb(36, 91, 100) );
}